
<% provide(:title, 'Ajouter un contact client') %>

<h3>Ajout un contact client</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@clientcontact) do |f| %>
      <%= render 'shared/error_messages_clientcontact' %>
 
      <%= f.label :client_id, "Client" %>
      <%= f.collection_select :client_id, current_user.clients, :id, :name %>

      <%= f.label :first_name, "Prénom" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name, "Nom de famille" %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: 'form-control' %>


<%= f.submit "Ajoutez contact client", class: "btn btn-primary" %>

<% end %>

  </div>
</div>


