<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "Attacher nouveau scan de la demande", new_attached_file_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nom du fichier</th>
      <th>Lien téléchargement</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @attachedfiles.each do |attachedfile| %>
      <tr>
        <td><%= attachedfile.name %></td>
        <td><%= link_to "Télécharger le scan de la demande", attachedfile.attachment_url, class: "btn btn-primary" %></td>
        <td><%= button_to "Supprimer le scan de la demande",  attachedfile, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{attachedfile.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
