<% if !@attachedfile.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @attachedfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">

  <h2>Ajouter la copie numérisée de votre courrier</h2>
<hr>
</div>
<div class="col-md-1">
</div>

</div>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
  <%= form_for @attachedfile, html: { multipart: true } do |f| %>
    <%= f.label :name,"Veuillez donner un nom au fichier"  %>
    <%= f.text_field :name %> <%# note that id is attached_file_name%>
    
    <%= f.label :attachment, "Lettre de circularisation jointe à la demande" %>
    <%= f.file_field :attachment %> <%# note that id is attached_file_attachment%>
    
    
    <%# Pass parameters to let the controller know where to redirect %>
    <%= hidden_field_tag(:attach_origin, @attachOrigin) %>
    <%= hidden_field_tag(:conf_id, @confIdToRedirect) %>
    
    
    <%= f.submit "Sauvegarder la circularisation", class: "btn btn-primary", id: "btn-save-attached-file" %>
  <% end %>
</div>
<div class="col-md-offset-3">
</div>
</div>
