<%#- all if logged in part can be deleted as different template are rendered directly by the controller %>
<% if logged_in? %>
      <div class="col-md-4">

          <% if logged_in? && !current_user.admin? && !current_user.bankcontact? && !current_user.clientcontact? %>

          <h5>Comptes</h5>
            <%= link_to "Ajouter un compte", new_bankaccount_path %><br><br>
            <%= link_to "Voir les comptes", bankaccounts_path %><br><br>
<br><br>
          <h5>Clients</h5>
            <%= link_to "Ajouter un client", new_client_path %><br><br>
            <%= link_to "Voir vos clients", clients_path %><br><br>
            <%= link_to "Ajouter un contact client", new_clientcontact_path %><br><br>
            <%= link_to "Voir les contacts clients", clientcontacts_path %><br><br>
          <% end %>

          <% if logged_in? && current_user.admin? %>

          <h4>To be restricted to admin down the road</h4>
            <%= link_to "Ajouter une banque", new_bank_path %><br><br>
            <%= link_to "Voir les banques", banks_path %><br><br>
            <%= link_to "Voir tous les comptes", bankaccounts_path %><br><br>
            <%= link_to "Ajouter un contact banque", new_bankcontact_path %><br><br>
            <%= link_to "Voir les contacts banque", bankcontacts_path %><br><br>
            <%= link_to "Voir les utilisateurs", users_path %><br><br>

          <% end %>

          <% if logged_in? && current_user.bankcontact? %>
            <h4>Liens pour le contact banque</h4>
            <%= link_to "Voir les comptes en attente de réponse", indexbankcontact_path %>
          <% end %>

          <% if logged_in? && current_user.clientcontact? %>
            <h4>Liens pour le contact client</h4>
              <%= link_to "Voir les comptes en attente de signature ", indexclientcontact_path %>
          <% end %>

      </div>

      <div class="col-md-8">

      List of bankaccounts.

      </div>
      </div>

<% else %>
<%#- should only keep the part here under %>
    <div class="jumbotron">
      <h1>Bienvenue sur Circularisation.com</h1>
      <div class="row">
        <div class="col-md-6">
      <h7>Vos circularisations n'auront jamais été aussi faciles.</h7><br><br>
	 <h8> Passer aux circularisations électronique. Faites signer vos circularisations et recevez vos réponses en quelques jours seulement.<br>
	Obtenez d'une partie tierce authentifiée une réponse valide et vérifiée. Disposez d'un comfort d'audit plus élevé pour certifier les comptes de vos clients.</h8>
      <br><br><%= link_to "S'identifier", login_path, class: "btn btn-lg btn-primary" %>
	</div>	
	<div class="col-md-6">
	  <img alt="Rails" src="assets/serverconcept.jpg" />
	</div>
      </div>
    </div>
    <div class="text-center">
    <div class="row">
	<br><h9>Pourquoi Circularisation.com ?</h9><br><br>
<hr>
    </div>
    </div>
    <div class="row">
	<div class="col-md-4">
    <div class="text-center">
	  <h10>Rapidité</h10><br><br>
    </div>
	  <h11>Quelques heures, quelques jours. Circularisaiton.com offre aux différentes parties prenantes une plateforme unique optimisée, pensée pour la signature, l'émission et les réponses
à vos circularisations. Nous recueillons chaque jours tous les commentaires des parties prenantes pour continuer d'optimiser la plateforme. Notre assistance téléphonique est disponible en permanence.</h11>
	</div>
	<div class="col-md-4">
    <div class="text-center">
	  <h10>Conformité</h10><br><br>
    </div>
	  <h11>La plateforme suit rigoureusement les préconisations de la norme d'exercice professionnelle 505. Les circularisations sont signées avant leur émission. Les répondants sont pré-authentifiés avant de pouvoir utiliser la plateforme. Un suivi détaillé de l'activité vous est fourni afin de vérifier les différentes interventions de chaque partie tierce. 
	</div>
	<div class="col-md-4">
    <div class="text-center">
	  <h10>Sécurité</h10><br><br>
    </div>
	  <h11>La sécurité du process est assurée tout au long de l'exécution de la circularisation. Une circularisation non signée ne peut pas être émise. Les parties tierces sont validées avant de pouvoir accèder à la plateforme. Les répondants sont pré-authentifés. Toutes les interventions peuvent être précisemment suivies<h11>
	  
	</div>
    </div>
    <div class="row">
	<br><br>
    </div>
    <div class="row">
	<div class="col-md-4">
    <div class="text-center">
	  <h10>Expérience utilisateur</h10><br><br>
    </div>
	  <h11>La plateforme est optimisée pour fournir à chaque intervenant une expérience utilisateur unique. La plateforme vous offre toutes les informations nécessaires. De nombreux indications sont obtenus au cours du process. Vous disposez d'outil de suivi pour savoir où en est chacune de vos circularisations. Vous disposer d'un rapport final pour documenter vos dossiers d'audit.</h11>
	</div>
	<div class="col-md-4">
    <div class="text-center">
	  <h10>Confidentialité</h10><br><br>
    </div>
	  <h11>La plateforme assure la stricte confidentialité et la protection des données. Aucune donées dont nous n'aurions absolument pas besoin ne vous est demandé durant le process. Toutes les données publiées par la plateforme sont vérifiée en permanence. Nous ne conservons aucune donnée à autre fin que celle d'assurer la traçabilité des opérations effectuez sur la plateforme.
	</div>
	<div class="col-md-4">
    <div class="text-center">
	  <h10>Nous contacter</h10><br><br>
    </div>
	<div class="row">
	  N'hésitez pas à nous contacter si vous souhaitez obtenir des informations supplémentaires.
	</div>
	<div class="row text-center">
	  <br><img alt="Rails" src="assets/telephone5.png" /><h10> +33 (0)2 42 61 43 68</h10><br><br>
	</div>
		
<div class="row text-center">
 <br><%= link_to "Contact", contact_path, class: "btn btn-lg btn-primary" %>
	</div>
	</div>	  
	</div><br>
 <div class="text-center">
    <div class="row">
	<br><h9>Comment ça marche ?</h9><br><br>
	<hr>
    </div>
 </div>
    <div class="row">
	<div class="col-md-2 flowchart border-radius text-center">
	  <br><h10>Ajouter vos clients ainsi que les comptes que vous souhaitez circulariser</h10><br><br>
	</div>
	<div class="col-md-1">  

          <br><br> <img alt="Rails" src="assets/right133.png" />

	</div>
	<div class="col-md-2 flowchart border-radius text-center">
	  <br><h10>Soumettez les comptes à vos clients pour revue et signature</h10><br><br>
	</div>
	<div class="col-md-1">
           <br><br><img alt="Rails" src="assets/right133.png" />
	</div>
	<div class="col-md-2 flowchart border-radius text-center">
	  <br><h10>Circulariser le compte signé en l'envoyant à la partie tierce.</h10><br><br>
	</div>
	<div class="col-md-1">
           <br><br><img alt="Rails" src="assets/right133.png" />
	</div>
	<div class="col-md-2 flowchart border-radius text-center">
	  <br><h10>Recevez la réponse de la partie tierce.</h10><br><br>
	</div>
    </div>

 <div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-2 text-center">
           <img alt="Rails" src="assets/refresh57.png" /><br><br><br>

	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2 text-center">
           <img alt="Rails" src="assets/refresh57.png" /><br><br><br>

	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2 text-center">
           <img alt="Rails" src="assets/save-file.png" />
	</div>
    </div>

 <div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-2 flowchart border-radius text-center">
  	  <br><h10>Votre client revoit, valide et signe la circularisation</h10><br><br>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2 flowchart border-radius text-center">
	  <br><h10>La partie tierce revoit la circularisation et y répond.</h10><br><br>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2 flowchart border-radius text-center">
	  <br><h10>Télécharger le rapport pour documenter vos dossiers d'audit</h10><br><br>
	</div>
    </div>

<% end %>

