
      <div class="row">
        <div class="col-md-12">

      <% if logged_in? %>
        <div class="row">
          <aside class="col-md-4">
            <section class="user_info">
              <%= render 'shared/user_info' %>
            </section>
	    <section class="stats">
              <%= render 'shared/stats' %>
	    </section>
            <section class="restaurant_form">
		<%= render 'shared/restaurant_form' %>
	    </section>
	  </aside>
	  <div class="col-md-8">
		<h8>    Recommendation feed</h8>
		<%= render 'shared/feed' %>
	  </div>
       <% else %>
      <h1>Payomi!</h1>
      <h7>A better way to curate restaurants.</h7><br><br>
        <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
       <% end %>

	</div>
      </div>
