<div class="row">
<%= render 'shared/navbaradmin'%>
</div>
  <div class="row">

<div class="col-md-2">
<h2>Cabinets</h2>
</div>
<div class="col-md-offset-8 col-md-2">
<br>
<%= link_to "Ajouter un cabinet", new_accountingfirm_path, class: "btn btn-primary round" %>
</div>

<br>
<br>
<br>
<br>

<div class="row">
<div class="col-md-10">
<table class="table table-hover table-condensed">

  <tr>
    <th>Nom</th>
    <th>Adresse</th> 
    <th>Gestion</th>
  </tr>


<% @accountingfirms.each do |accountingfirm| %>
  <tr>
    <td><%= accountingfirm.name %></td>
    <td><%= accountingfirm.number_and_street %> <%= accountingfirm.zip_code %> <%= accountingfirm.city %></td>
<td>
<%= link_to "Éditer", edit_accountingfirm_path(accountingfirm) %> |
<%= link_to "Supprimer", accountingfirm, method: :delete, data: { confirm: "Sûr ? " } %>
</td>
  </tr>
<% end %>
</table>
<%#= will_paginate @banks %>
</div>
<div class="col-md-2">
  <%= form_tag(accountingfirms_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Chercher Cabinet", class: "form-control" %>
    <%= submit_tag "Filtrer", :name => nil, class: "btn btn-primary btn-search btn-size-xs" %>
  <% end %>
</div>
</div>

