<div class="row">
<%= render 'shared/navbaradmin' %>
</div>


<div class="row">
<% provide(:title, @accountingfirm.name) %>
<hr>
  <aside class="col-md-4">
    <section class="bank_info">
    <h11>
    <%= @accountingfirm.name %>
    <%= @accountingfirm.number_and_street %>
    <%= @accountingfirm.zip_code %>
    <%= @accountingfirm.city %>
    </h11>
    </section>
  </aside>
</div>
</div>
