



<div class="row">
<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="user"> <%= @user.name %></span><br>
</div>


<div class="row">

<h2>Vos Circularisations en attente de réponse</h2><br>
<%#- nothing - no need to add a button add account for banks %>
</div>
<div class="row">
<div class="col-md-10">

<table class="table table-hover">

  <tr>
    <th>Banque</th>
    <th>Client</th>
    <th>Numéro de compte</th>
    <th>Devise</th>
    <th>Solde</th>
    <th>Action</th>
  </tr>

<% @bankaccounts.each do |bankaccount| %>
  <tr>
    <td><%= bankaccount.bank.name %></td>
    <td><%= bankaccount.client.name %></td>
    <td><%= bankaccount.number %></td>
    <td><%= bankaccount.currency %></td>
    <td><%= bankaccount.balance %></td> 
    <td><%= show_action_depending_on_bankaccount_status(bankaccount) %></td>
  </tr>


<% end %>
</table>
<%= will_paginate @bankaccounts1 %>
</div>
 <div class="col-md-2">
  <%= form_tag(clients_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher Comptes", class: "form-control" %>
    <%= submit_tag "Filtrer", :number => nil, class: "btn btn-primary btn-search btn-size-xs" %>
  <% end %>
</div>

</div>
