
<% provide(:title, 'Ajouter un compte') %>

<h3>Ajout un compte</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@bankaccount) do |f| %>
      <%= render 'shared/error_messages_bankaccount' %>
 
      <%= f.label :bank_id, "Banque" %>
      <%= f.collection_select :bank_id, Bank.all, :id, :name %>

      <%= f.label :client_id, "Client" %>
      <%= f.collection_select :client_id, current_user.clients, :id, :name %>

      <%= f.label :number, "Numéro de compte" %>
      <%= f.text_field :number, class: 'form-control' %>

      <%= f.label :currency, "Devise" %>
      <%= f.text_field :currency, class: 'form-control' %>

      <%= f.label :balance, "Solde" %>
      <%= f.text_field :balance, class: 'form-control' %>


<%= f.submit "Ajoutez le compte", class: "btn btn-primary" %>

<% end %>

  </div>
</div>


