<div class="row">
<%= render 'shared/navbaradmin' %>
</div>
<div class="row">
<% provide(:title, 'Ajout Banque') %>
<div class="col-md-6 col-md-offset-3">
<h2>Ajout d'une nouvelle banque</h2>
<hr>
</div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@bank) do |f| %>
      <%#= render 'shared/error_messages_bank' %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nom" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :number_and_street, "Numéro et rue" %>
      <%= f.text_field :number_and_street, class: 'form-control' %>

      <%= f.label :zip_code, "Code postal" %>
      <%= f.text_field :zip_code, class: 'form-control' %>

      <%= f.label :city, "Ville" %>
      <%= f.text_field :city, class: 'form-control' %>

<%= f.submit "Ajouter banque", class: "btn btn-primary" %>

<% end %>

  </div>
</div>


