

<div class="row">
<div class="col-md-2">
<h2>Users</h2>

</div>

</div>

<br>

<div class="row">
<div class="col-md-10">

<ul class="user">
  <%= render @users %>
</ul>

<%= will_paginate @users %>

</div>

<div class="col-md-2">
    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control" %>
    <%= submit_tag "Filter", :name => nil, class: "btn btn-primary btn-search" %>
    <% end %>
</div>


</div>
