<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
      <h4><%= @user.name %></h4>
      <span><%= link_to "View my profile", @user, class: "reco-link" %></span>
      <span><b>Posts:</b> <%= @user.microposts.count %></span>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
      <% end %>
  </aside>
  <aside class="col-md-8">
    <h4><%= @title %></h4>
    <% if @users.any? %>
      <div class="users follow">
        <%= render @users %>
      </div>
      <%= will_paginate %>
    <% end %>
  </aside>
</div>
