<div class="row">

<div class="col-md-8">
<li id="<%= feed_item.id %>">
  <%#= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user, class:"profile-link" %> recommended
  </span>
  <span class="recommendation"><%= feed_item.spot.try(:name) %></span> in <%= feed_item.spot.try(:city) %><br>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp"><% if !feed_item.content.blank? %><br><% end %>
   Posted <%= time_ago_in_words(feed_item.created_at) %> ago 
  </span>
  <% if current_user?(feed_item.user) %>|
    <%= link_to "delete", feed_item, method: :delete,
                                     confirm: "You sure?",
                                     class:"delete-link" %>
  <% end %><br>
</li>
</div>

  <% if !@array_of_recommended_spot_id.include?(feed_item.spot_id) %>

<div class="col-md-2">
  <%= form_for(@recommendation) do |f| %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <div><%= hidden_field_tag :spot_id, feed_item.spot_id %></div>
  <div><%= hidden_field_tag :recommender_id, feed_item.user_id %></div>
  <%= f.submit "Re-recommend", class: "btn btn-primary rerecommend" %>
  <% end %>
</div>

  <% else %>


<div class="col-md-2">
  <%= form_for(@recommendation, html: {method: :delete}) do |f| %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <div><%= hidden_field_tag :spot_id, feed_item.spot_id %></div>
  <%= f.submit "Unrecommend", class: "btn btn-primary unrecommend" %>
  <% end %>
</div>

  <% end %>

  <% if !@array_of_saved_spot_id.include?(feed_item.spot_id) %>
  <div class="col-md-1">
  <%= form_for(@save) do |s| %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <div><%= hidden_field_tag :spot_id, feed_item.spot_id %></div>
  <div><%= hidden_field_tag :poster_id, feed_item.user_id %></div>
  <%= s.submit "Save", class: "btn btn-primary save" %>
  <% end %>
  </div>

  <% else %>

  <div class="col-md-1">
  <%= form_for(@save, html: {method: :delete}) do |s| %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <div><%= hidden_field_tag :spot_id, feed_item.spot_id %></div>
  <%= s.submit "Unsave", class: "btn btn-primary unsave" %>
  <% end %>
  </div>
  
  <% end %>
 

<div class="col-md-1">
</div>
</div>
<hr>
