
<div class="row">
  <div class="col-md-2 background">
<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="user"> <%= current_user.name %></span>
</div>
  <div class="col-md-offset-5 col-md-5">
  <ul class="nav nav-tabs">

    <li class="<%= is_active? clients_path %>">
      <%= link_to "Clients", clients_path %>
    </li>
    <li class="<%= is_active? bankaccounts_path %>">
      <%= link_to "Comptes", bankaccounts_path %>
    </li>
  </ul>
  </div>
</div>
