
<div class="row">
  <div class="col-md-2 background">
<span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="user"> 
<% if @user %><%= @user.name %> <% end %>
</span>
</div>
  <div class="col-md-offset-5 col-md-5">
  <ul class="nav nav-tabs">

    <li class="<%= is_active? clients_path %>">
      <%= link_to "Clients", clients_path %>
    </li>
    <li class="<%= is_active? confirmations_path %>">
      <%= link_to "Circularisations", confirmations_path %>
    </li>
  </ul>
  </div>
</div>
