<div class="row">
<%= render 'shared/navbaruser' %>
</div>
<div class="row">
<% provide(:title, @client.name) %>
  <aside class="col-md-4">
    <section class="client_info">
    <h11>
    <%= @client.name %>
    <%= @client.number_and_street %>
    <%= @client.zip_code %>
    <%= @client.city %>
    </h11>
    </section>
  </aside>
</div>
    
