<div class="row">
<% provide(:title, 'Add a place') %>
<div class="col-md-6 col-md-offset-3">
<h2>Add a place</h2>
<hr>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@restaurant) do |f| %>
      <%#= render 'shared/error_messages_client' %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Name of the place" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :city, "City" %>
      <%= f.text_field :city, class: 'form-control' %>


      <%= f.submit "Add a place", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


