<script>
  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>


	  <div class="row">
            <div class="col-md-4">
		  <h2>Détail de votre circularisation</h2>
		  <hr>
            </div>
            <div class="col-md-offset-5 col-md-3">
              <ul class="nav nav-tabs">
    <li class="<%= is_active? bankaccounts_path %>">
      <%= link_to "Revenir aux circularisations", confirmations_path %>
    </li>
  </ul>

            </div>
          </div>

		<div class="row">
			<div class="col-md-6">
			<h4>Client</h4>
                        Nom : <%= @client.name %><br>
                        Numéro et rue : <%= @client.number_and_street %><br>
                        Code Postal : <%= @client.zip_code %><br>
                        Ville : <%= @client.city %><br><br>
    			Signataire autorisé : <%= @client.email %>
			</div>

			<div class="col-md-6">
			    <h4>Cabinet d'audit</h4><br>
			    Nom : <%= @cac.name %><br>
                            Email : <%= @cac.email %><br>
			</div>
		</div>
                <hr>

                <div class="row">
                  <div class="col-md-6">
		            <h4>Circularisation</h4>
			    Référence de la circularisation : <%= @confirmation.reference %><br>
			    Statut : <%= @confirmation.status %>
                  </div>
                <div class="row">
                  <div class="col-md-6">
		            <h4>Banque</h4>
			    Nom : <%= @bank.name %><br>
                  </div>


                </div>

				<hr>
				<%-# START: request scan block -%>
				<div class="col-md-6">

				<h4>Votre circularisation</h4>
				<table class="table table-bordered table-striped">
				  <thead>
					<tr>
					  <th>Circularisation</th>
					  <th>Fichier</th>
					</tr>
				  </thead>
				  <tbody>
                                          
					  <tr>
						<td>Votre circularisation</td>
						<td><%= link_to "Télécharger la circularisation",
											@confirmation.file.url,
											class: "btn btn-default" %></td>
					  </tr>
				  </tbody>
				</table>
		
				</div>
				
				
		<div class="col-md-6">
		  <% if @confirmation.status == "Terminée" %>
		    <%= render "confirmations/access_to_answer" %>
		  <% end %>
		</div>
				
                <hr>
		 <div class="row">
                  <div class="col-md-12">
                  	<br/>
                  	<hr>
		            <h4>Suivi d'activité</h4>
		            <table class="table table-condensed">
 				<tr>
					<th>Description</th>
					<th>Contact</th>
					<th>Date et heure</th>
				</tr>
				<tr>
					<td>Circularisation</td>
					<td><%= @cac.email %></td>
					<td><%= @confirmation.created_at %></td>
				</tr>
				<tr>
                                        <% if @confirmation.status == "Terminée" %>
					  <%= render 'confirmations/bank_log' %>
                                        <% end %>
				</tr>
                            </table>
                  </div>

                </div>

