<script>
  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>


	  <div class="row">
            <div class="col-md-4">
		  <h2>Détail de votre circularisation</h2>
		  <hr>
            </div>
            <div class="col-md-offset-5 col-md-3">
              <ul class="nav nav-tabs">
    <li class="<%= is_active? bankaccounts_path %>">
      <%= link_to "Revenir aux circularisations", confirmations_path %>
    </li>
  </ul>

            </div>
          </div>

		<div class="row">
			<div class="col-md-6">
			<h4>Information de votre client</h4>
                        Nom : <%= @client.name %><br>
                        Numéro et rue : <%= @client.number_and_street %><br>
                        Code Postal : <%= @client.zip_code %><br>
                        Ville : <%= @client.city %><br><br>
    			Signataire autorisé : <%= @client.email %>
			</div>

			<div class="col-md-6">
			    <h4>Vos informations</h4><br>
			    Nom : <%= @cac.name %><br>
                            Email : <%= @cac.email %><br>
			</div>
		</div>
                <hr>

                <div class="row">
                  <div class="col-md-4">
		            <h4>Circularisation</h4>
			    Référence  de la circularisation: <%= @confirmation.reference %><br>

				<%-# START: request scan block -%>
                  </div>
	          <div class="col-md-6 text-muted">
				<h4>La circularisation du commissaire aux comptes de votre client</h4>
				<table class="table table-bordered table-striped">
				  <thead>
					<tr>
					  <th>Nom</th>
					  <th>Fichier</th>
					</tr>
				  </thead>
				  <tbody>
					<% @attachedRequestFiles.each do |attachedfile| %>
					  <tr>
						<td><%= attachedfile.name %></td>
						<td><%= link_to "Télécharger la circularisation",
											attachedfile.attachment_url,
											class: "btn btn-default" %></td>
					  </tr>
					<% end %>
				  </tbody>
				</table>
		   </div>
                 </div>
				<%-# END: request scan block -%>
				<hr>
			<div class="row">
				<%-# START: request scan block -%>
				<div class="col-md-6">
				<% if !flash[:notice].blank? %>
				  <div class="alert alert-info">
					<%= flash[:notice] %>
				  </div>
				<% end %>

				<h4>Votre réponse</h4><br>
					<%# attach_origin is the parameter to let the controller knows what to do with this attached file %>
					<%= link_to "Attacher votre attestation de solde",
								new_attached_file_path + '?attach_origin=conf_asw&conf_id=' + @id.to_s,
								class: "btn btn-primary" %>
				<br />
				<br />
				<table class="table table-bordered table-striped">
				  <thead>
					<tr>
					  <th>Nom</th>
					  <th>Fichier</th>
					  <th>&nbsp;</th>
					</tr>
				  </thead>
				  <tbody>
					<% @attachedAnswerFiles.each do |attachedfile| %>
					  <tr id="row_<%= attachedfile.id %>">
						<td><%= attachedfile.name %></td>
						<td><%= link_to "Télécharger l'attestation de solde",
											attachedfile.attachment_url,
											class: "btn btn-primary bank-attached-file" %></td>
						<td><%= link_to "", attachedfile, method: :delete, class: "btn btn-danger glyphicon glyphicon-trash",
                                  data: { confirm: "Êtes-vous sûr de vouloir supprimer le fichier #{attachedfile.name}?" } %></td>
					  </tr>
					<% end %>
				  </tbody>
				</table>
		
				</div>
				
				<%-# END: request scan block -%>
			</div>	
				
				
                 <div class="row">
  
                 <div class="col-md-9">
                   <%= form_for (@confirmation) do |f| %>

                   <%= f.submit "Confirmer",:name=>"conf", class: "btn btn-lg btn-primary btn-confirm", id: "btn-answer-confirmation" %>
                   <% end %>
 		 </div>


                  
                </div>



                <hr>
		 <div class="row">
                  <div class="col-md-12">
		            <h4>Suivi d'activité</h4>
		            <table class="table table-condensed">
 				<tr>
					<th>Description</th>
					<th>Email</th>
					<th>Date et heure</th>
				</tr>
				<tr>
					<td>Envoi</td>
					<td><%= @cac.email %></td>
					<td><%= @confirmation.created_at %></td>
				</tr>
				<tr>
					<td>Réponse</td>
                                        <% if @confirmation.status == "Envoyée" %>
					<td>En attente de votre réponse</td>
					<td>En attente de votre réponse</td>
                                        <% else %>
                                        <td>La banque a répondu</td>
                                        <td>La banque a répondu</td>
                                    
                                        <% end %>
				</tr>
                            </table>
                  </div>

                </div>

