<script>

  $(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
</script>

<div class="row">
<%= render "shared/navbaruser" %>
</div>

<div class="row">
<div class="col-md-2">
<h2>Circularisations</h2>
</div>

<div class="col-md-offset-8 col-md-2">
<br>
     <%= link_to "Ajouter une circularisation", new_confirmation_path, class: "btn btn-primary round" %>
</div>

<br><br><br><br>
<div class="row">
<div class="col-md-10">
<table class="table table-hover table-condensed">

  <tr>
    <th>Banque</th>
    <th>Client</th>
    <th>Référence</th>
   <!-- <th><%#= link_to "Devise", :sort => "currency" %></th>
    <th><%#= link_to "Solde", :sort => "balance" %></th>-->
    <th><button type="button" class="custom-button-default" data-toggle="tooltip" data-placement="top" title="
Le status Envoyée signifie que votre circularisation a bien été envoyées à la banque et que vous êtes désormais en attente de réponse de sa part. Le statut Terminée signifie que la banque vous a répondu."> Statut</button></th>
    <th>Gestion</th>
  </tr>

<% @confirmations.each do |confirmation| %>
  <tr>
   <td><%= @banks.where("id = ?", confirmation.bank_id).pluck(:name).first %></td>
    <td><%= @clients.where("id = ?", confirmation.client_id).pluck(:name).first %></td>
    <td><%= confirmation.reference %></td>
    <!--<td><%#= bankaccount.currency %></td>
    <td><%# bankaccount.balance %></td>-->
    <td><%= confirmation.status %></td>
    <td>
      <%= link_to "Voir", check_by_auditor_path(confirmation), class: "table-links" %> |
      <%= link_to "Supprimer", confirmation, method: :delete %>
    </td>
  </tr>


<% end %>
</table>
</div>

  <div class="col-md-2">
  <%#= form_tag(bankaccounts_path, :method => "get", id: "search-form") do %>
    <%#= text_field_tag :search, params[:search], placeholder: "Rechercher Comptes", class: "form-control" %>
    <%#= submit_tag "Filtrer", :number => nil, class: "btn btn-primary btn-search btn-size-xs" %>
  <%# end %>
</div>


</div>
