<div class="row">
<% if logged_in? && current_user.admin? %>
<%= render "shared/navbaradmin"%>
<% else %>
<%= render 'shared/navbaruser' %>
<% end %>
</div>

<div class="row">
<% provide(:title, 'Ajouter une Circularisation') %>
<div class="col-md-6 col-md-offset-3">
<h2>Ajouter une Circularisation</h2>
<hr>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@confirmation) do |f| %>
      <%#= render 'shared/error_messages_client' %>
      <%#= render 'shared/error_messages', object: f.object %>
      <%= f.label :bank_id, "Banque" %>
      <%= f.collection_select :bank_id, Bank.all, :id, :name %>

      <%= f.label :client_id, "Client" %>
      <%= f.collection_select :client_id, current_user.clients, :id, :name %>

	  <br/>
	  <br/>
	  <hr>
	   <%-# Here is the scan block -%>
	   
	   
		<% if !flash[:notice].blank? %>
		  <div class="alert alert-info">
		  	<%= flash[:notice] %>
		  </div>
		<% end %>

			<%# attach_origin is the parameter to let the controller knows what to do with this attached file %>
			<%= link_to "Attacher nouveau scan de la demande",
							new_attached_file_path + '?attach_origin=conf_new',
							class: "btn btn-primary" %>
		<br />
		<br />
		<table class="table table-bordered table-striped">
		  <thead>
			<tr>
			  <th>Scan</th>
			  <th>Lien téléchargement</th>
			  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<% @attachedRequestFiles.each do |attachedfile| %>
			  <tr>
				<td><%= attachedfile.name %></td>
				<td><%= link_to "Télécharger le scan de la demande", attachedfile.attachment_url, class: "btn btn-primary" %></td>
				<td><%= link_to "Supprimer le scan de la demande", attachedfile, method: :delete, class: "btn btn-danger",
                                  data: { confirm: "Are you sure that you wish to delete #{attachedfile.name}?" } %></td>
			  </tr>
			<% end %>
		  </tbody>
		</table>

      <%= f.submit "Ajoutez une circularisation", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


