
<div class="row">
<% provide(:title, 'Change Micropost') %>
<div class="col-md-6 col-md-offset-3">
<h2>Change your place</h2>
<hr>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :micropost, url: restaurant_path(@restaurant), method: :patch do |f| %>
      <%= render 'shared/error_messages_micropost' %>
      <%#= render 'shared/error_messages', object: f.object %>


      <%= f.label :content, "Message" %>
      <%= f.text_field :city, class: 'form-control' %>



<%= f.submit "Change place", class: "btn btn-primary" %>

<% end %>

  </div>
</div>


